In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/Vinothkumar353-web/RAPIDO-Data-Analysis/refs/heads/main/rides_data.csv")
Rapido_df = pd.DataFrame(data)
Rapido_df.head()

,services,date,time,ride_status,source,destination,duration,ride_id,distance,ride_charge,misc_charge,total_fare,payment_method
0,cab economy,2024-07-15,08:30:40.542646,completed,Balagere Harbor,Harohalli Nagar,39,RD3161218751875354,27.21,764.83,31.51,796.34,Amazon Pay
1,auto,2024-07-05,23:36:51.542646,completed,Basavanagudi 3rd Block,Bikasipura 1st Stage,89,RD8171514284594096,34.03,314.83,49.52,364.35,Paytm
2,auto,2024-07-23,11:05:37.542646,cancelled,Babusapalya Cove,Kothaguda Terrace,25,RD9376481122237926,20.24,NaN,NaN,NaN,NaN
3,cab economy,2024-06-24,08:45:10.542646,completed,Mahadevapura Mews,Kanakapura Arc,89,RD3676889143182765,31.17,484.73,15.84,500.57,QR scan
4,cab economy,2024-07-15,00:26:44.542646,completed,Ganganagar Cove,Basaveshwaranagar Colony,95,RD6639410275948084,27.21,663.50,14.13,677.63,Amazon Pay

In [3]:
Rapido_df.shape

(50000, 13)

In [4]:
Rapido_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   services        50000 non-null  object
 1   date            50000 non-null  object
 2   time            50000 non-null  object
 3   ride_status     50000 non-null  object
 4   source          50000 non-null  object
 5   destination     50000 non-null  object
 6   duration        50000 non-null  int64
 7   ride_id         50000 non-null  object
 8   distance        50000 non-null  float64
 9   ride_charge     44964 non-null  float64
 10  misc_charge     44964 non-null  float64
 11  total_fare      44964 non-null  float64
 12  payment_method  44964 non-null  object
dtypes: float64(4), int64(1), object(8)
memory usage: 5.0+ MB

In [5]:
Rapido_df.describe(include="all")

,services,date,time,ride_status,source,destination,duration,ride_id,distance,ride_charge,misc_charge,total_fare,payment_method
count,50000,50000,50000,50000,50000,50000,50000.000000,50000,50000.000000,44964.000000,44964.000000,44964.000000,44964
unique,5,61,49363,2,12982,12977,NaN,50000,NaN,NaN,NaN,NaN,4
top,bike,2024-08-03,19:55:36.542646,completed,Kothanur Landing,Gottigere Landing,NaN,RD3651553384597907,NaN,NaN,NaN,NaN,Paytm
freq,15128,888,3,44964,23,23,NaN,1,NaN,NaN,NaN,NaN,11315
mean,NaN,NaN,NaN,NaN,NaN,NaN,64.320100,NaN,25.528243,522.428805,24.964289,547.393093,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,31.852336,NaN,14.177136,274.726031,14.459417,275.094813,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,NaN,1.000000,50.030000,0.000000,50.580000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,37.000000,NaN,13.260000,283.657500,12.400000,308.920000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,64.000000,NaN,25.460000,520.030000,25.070000,544.920000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,92.000000,NaN,37.860000,759.367500,37.510000,785.502500,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,119.000000,NaN,50.000000,999.960000,50.000000,1048.800000,NaN

In [6]:
Rapido_df.isnull().sum()

services             0
date                 0
time                 0
ride_status          0
source               0
destination          0
duration             0
ride_id              0
distance             0
ride_charge       5036
misc_charge       5036
total_fare        5036
payment_method    5036
dtype: int64

In [7]:
Rapido_df.rename(columns={"misc_charge":"Extra_Charges"},inplace=True)
Rapido_df.rename(columns={"services":"Vehicle_Type"},inplace=True)
Rapido_df

,Vehicle_Type,date,time,ride_status,source,destination,duration,ride_id,distance,ride_charge,Extra_Charges,total_fare,payment_method
0,cab economy,2024-07-15,08:30:40.542646,completed,Balagere Harbor,Harohalli Nagar,39,RD3161218751875354,27.21,764.83,31.51,796.34,Amazon Pay
1,auto,2024-07-05,23:36:51.542646,completed,Basavanagudi 3rd Block,Bikasipura 1st Stage,89,RD8171514284594096,34.03,314.83,49.52,364.35,Paytm
2,auto,2024-07-23,11:05:37.542646,cancelled,Babusapalya Cove,Kothaguda Terrace,25,RD9376481122237926,20.24,NaN,NaN,NaN,NaN
3,cab economy,2024-06-24,08:45:10.542646,completed,Mahadevapura Mews,Kanakapura Arc,89,RD3676889143182765,31.17,484.73,15.84,500.57,QR scan
4,cab economy,2024-07-15,00:26:44.542646,completed,Ganganagar Cove,Basaveshwaranagar Colony,95,RD6639410275948084,27.21,663.50,14.13,677.63,Amazon Pay
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,cab economy,2024-07-24,10:12:37.811393,completed,Giri Nagar Quarters,Lingarajapuram Village,79,RD1742789687725650,7.03,518.90,23.81,542.71,Amazon Pay
49996,auto,2024-08-12,11:24:08.811393,completed,Hennur Road District,Hulimavu Pier,39,RD3524793949448023,31.77,977.34,2.67,980.01,Paytm
49997,bike,2024-08-10,21:52:48.811393,completed,Agara Heights,Ulsoor 4th Block,40,RD6755775741450371,25.74,331.94,38.32,370.26,Paytm
49998,auto,2024-07-07,20:44:00.811393,completed,Hosur Colony,Kanakapura Works,111,RD9198658614373790,11.70,565.47,0.33,565.80,Amazon Pay
49999,cab economy,2024-08-07,08:53:25.811393,completed,BTM 2nd Stage Depot,Thanisandra Pass,28,RD3094937631331884,43.52,673.43,44.17,717.60,Amazon Pay

In [8]:
Imputing_num_cols = ["ride_charge","Extra_Charges","total_fare"]


for col in Imputing_num_cols:
    Rapido_df[col] = Rapido_df.groupby("Vehicle_Type")[col].transform(lambda x: x.fillna(x.median()))

In [9]:
Rapido_df['payment_method'] = Rapido_df['payment_method'].fillna(Rapido_df['payment_method'].mode()[0])

In [10]:

Rapido_df['date'] = pd.to_datetime(Rapido_df['date']).dt.date


Rapido_df['time'] = Rapido_df['time'].astype(str).str.split('.').str[0]


Rapido_df['time'] = pd.to_datetime(Rapido_df['time'], format="%H:%M:%S").dt.time

In [11]:
Rapido_df['ride_id'].duplicated().sum()

np.int64(0)

In [12]:
Rapido_df.isnull().sum()

Vehicle_Type      0
date              0
time              0
ride_status       0
source            0
destination       0
duration          0
ride_id           0
distance          0
ride_charge       0
Extra_Charges     0
total_fare        0
payment_method    0
dtype: int64

In [13]:
!pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in c:\users\vinothkumar\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: pymysql in c:\users\vinothkumar\anaconda3\lib\site-packages (1.1.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\vinothkumar\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\vinothkumar\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)

In [14]:
from urllib.parse import quote_plus
from sqlalchemy import create_engine

# Encode password
password = quote_plus("Vinothkumar@2000")  # special characters like @ will be handled

# Create engine
engine = create_engine(f"mysql+pymysql://root:{password}@localhost/Rapido_db")

In [15]:
Rapido_df.to_sql('rapido_rides', con=engine, if_exists='replace', index=False)

50000

In [16]:
Rapido_df['ride_status'].unique()

array(['completed', 'cancelled'], dtype=object)